body {

    background-color:#131E3F;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    

}

.inicio{
    display:flex;
    justify-content: center;
    align-items: center;

}

.todo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    gap: 10px;
}

.caja1, .caja2{
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAFB;
    border-radius: 10px;
}

.caja1, .caja2 p{
    color: rgb(0, 0, 0);
}

.nombre{
    
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.imagene{
    width: 350px;
    height: 250px;
}

.imagene2{
    width: 350px;
    height:300px;
}


/*PARTE MONGO PANEL*/


.mongo{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
    color: black;
    
}

.panelMongo{
    padding-left: 3%;
}

.panelMongo h1{
   font-weight: bold;
   font-size: 30px;
}

.der{
    padding-right: 5%;
}

.addUser{
    background-color: #131E3F;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}
.addUser i {
    color: white;
}

.abajo{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaClientesMongo{
    background-color: rgb(255, 255, 255,0.75);
    color: black;}

.tablamongo{
    width: 60%;
    border-collapse: collapse;
}


.tablamongo td{
    text-align: center;
}


.nombre_email {
  display: flex;           
  align-items: center;      
  gap: 5px;                
  margin: 0;
  padding: 0;
}


.ladoDer{
    text-align: left;
}

.ladoIzq {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.ladoDer p {
    margin: 0;
    padding: 0;
}

.perfil{
    border-radius: 50%;
    background-color: #131E3F;
    width: 30px;
    height: 30px;
}





